{% extends "base.html" %}


{% block content %}

<div class="row">
<div class='col-sm-6 col-sm-offset-3'>

    <h1>About me.</h1>

    <p>This is information about me. This is information about me.
        This is information about me.This is information about me.
        This is information about me.</p>
    <p>This is information about me. This is information about me.
        This is information about me.This is information about me.
        This is information about me.</p>
    <p>This is information about me. This is information about me.
        This is information about me.This is information about me.
        This is information about me.</p>


</div>


</div>


{% endblock %}