{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}



{% block head_title %}Welcome | {{ block.super }} {% endblock %}

<style>
{% block style %}
.jumbotron {
    background-color:#98EFEF;;
}

{% endblock %}
</style>

    {% block jumbotron %}
    {% if not request.user.is_authenticated %}

<div class='jumbotron'>
    <div class="container">
        <div class="row">
        <div class='col-sm-6'>
        <h1>Michael Bashtovenko</h1>
        <p>"Welcome to my web site. Here is some information about me. You can find my portfolio here also."</p>
        <p>
        <a class="btn btn-lg btn-primary" href="" role="button">Join Us &raquo;</a>
         </p>
         </div>
        <div class='col-sm-6'>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-JPeNlNKIsM" frameborder="0" allowfullscreen></iframe>

        </div>
        </div>
    </div>
</div>
    {% endif %}
    {% endblock %}


{% block content %}
{% if request.user.is_authenticated %}
<h1>You are logged in!</h1>


    {% if queryset %}
    <h2>Welcome Staff</h2>
    <table class='table'>
    {% for instance in queryset %}
        <tr><td>{{ instance }}</td><td>{{ instance.full.name }}</td><td>{{ instance.timestamp|timesince }}</td></tr>
    {% endfor %}
    </table>
    {% endif %}


{% else %}
<div class="row">

    <div class="col-sm-3 pull-right">
        <p class='lead text-align-center'>{{ title }}</p>
        <form method= 'POST' action=''>{% csrf_token %}
        {{ form|crispy }}
        <input class='btn btn-primary' type='submit' value='Sign Up' />
        </form>
    </div>

    <div class='col-sm-3'>
    <p class='lead text-align-center'>Python is powerful</p>
    <img src='{% static "img/examplePython.png" %}' class='img-responsive' />
    </div>

    <div class='col-sm-3'>
    <p class='lead text-align-center'>Django framework</p>
    <img src='{% static "img/exampleDjango.png" %}' class='img-responsive' />
    </div>

    <div class='col-sm-3'>
    <p class='lead text-align-center'>Linux ist beste!</p>
{#    <img src='{% static "img/exampleServo.gif" %}' class='img-responsive' />#}
    <i class="fa fa-linux fa-5x" style="font-size:200px"></i>
    </div>
</div>

{% endif %}
{% endblock %}